<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.univol.member.model.Mapper.MemberMapper">
	
	<select id="logIn" resultType="Member">
		select * from users where user_id=#{userId} and user_pw=#{userPw}
	</select>
	
	
	<insert id="signUp">
	    INSERT INTO users (user_id, user_pw, user_name, birth, gender, phone, address)
    	VALUES (
        	#{userId}, #{userPw}, #{userName}, TO_DATE(#{birth}, 'YYYY-MM-DD'), #{gender}, #{phone}, #{address}
        	)
	</insert>
	
	<select id="selectAll" resultType="com.univol.member.model.vo.Member">
		select * from users
	</select>
	
</mapper>